.search {
  background-color: var(--color-primary-400);
  height: 12rem;
  padding-inline: var(--space-400);

  &__heading {
    color: var(--color-text-100);
    font-size: var(--font-size-700);
    font-weight: 600;
    padding-top: var(--space-600);
    margin-left: var(--space-400);
  }

  &__form {
    position: relative;
    margin-top: var(--space-200);

    &::before {
      display: block;
      content: "";
      height: 5rem;
      width: 10rem;
      position: absolute;
      right: 5%;
      top: -120%;
      background-image: url('/assets/images/hangul.webp');
      background-size: cover;
    }
  }

  &__input {
    width: 100%;
    padding: var(--space-400);
    font-size: var(--font-size-500);
    border: none;
    border-radius: var(--radius-min);
    padding-left: var(--space-500);

    &::placeholder {
      color: var(--color-text-300);
    }
  }

  &__submit {
    position: absolute;
    right: var(--space-500);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-500);
    color: var(--color-text-300);
    overflow-y: clip;
    height: var(--font-size-700);

    &::before {
      display: block;
      font-family: 'icomoon';
      content: "\e986";
      text-align: center;
    }
  }
}

.search-result {
  padding-bottom: var(--space-600);

  &__item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    margin-top: var(--space-300);
    border-radius: calc(var(--radius-min) / 2);
    background-color: var(--color-primary-100);
    padding: var(--space-300) var(--space-400);

    &::first-child {
      margin-top: var(--space-200);
    }
  }

  &__title {
    display: block;
    font-size: var(--font-size-500);
    color: var(--color-primary-400);
  }

  &__super {
    font-size: var(--font-size-400);
    font-weight: 400;
  }

  &__pos {
    margin-right: var(--space-100);
    border: 1px solid var(--color-text-200);
    padding: var(--space-100);
    border-radius: calc(var(--radius-min) / 4);
  }

  &__description {
    padding-top: var(--space-100);
    padding-bottom: var(--space-100);
    overflow: clip;
  }
}

.view {
  margin-top: var(--space-400);
  margin-inline: var(--space-400);

  &__title {
    font-size: var(--font-size-600);
  }

  &__pronunciation {
    padding-bottom: var(--space-300);
    border-bottom: 1px solid var(--color-text-200);
    color: var(--color-text-300);
  }

  &__pronunciation-value {
    margin-left: var(--space-100);
    color: var(--color-text-400);

    &::after {
      content: ' ]';
    }

    &::before {
      content: '[ ';
    }
  }

  &__type {
    display: inline-block;
    font-size: var(--font-size-400);
    border: 1px solid var(--color-text-200);
    padding: var(--space-100) var(--space-200);
    border-radius: calc(var(--radius-min) / 4);
    margin-block: var(--space-400);
  }

  &__sense-list {
    counter-reset: sense-item;
  }

  &__sense-item {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: var(--space-200);
    margin-left: var(--space-200);
    margin-bottom: var(--space-400);

    &:before {
      grid-row: span 3;
      counter-increment: sense-item;
      font-weight: 500;
      content: counter(sense-item, decimal-leading-zero) ".";
    }
  }

  &__definition {
    grid-column: span 2;
  }

  &__example-key {
    font-size: var(--font-size-300);
    line-height: 2;
    margin-right: var(--space-100);
    color: var(--color-text-300);
  }

  &__example-list {
    color: var(--color-text-300);
  }

  &__example-item {
    &::before {
      content: '▶ ';
    }

    &+& {
      margin-top: var(--space-100);
    }
  }
}
